<div class="index-sections">
  {{ content_for_index }}
</div>

<div class="load-wait">
<i class="fa fa-spinner fa-spin"></i>
</div>

{% if settings.nosto_id != blank %}
  {% include 'nosto-element' with 'frontpage-nosto-1' %}
  {% include 'nosto-element' with 'frontpage-nosto-2' %}
  {% include 'nosto-element' with 'frontpage-nosto-3' %}
  {% include 'nosto-element' with 'frontpage-nosto-4' %}
{% endif %}
