<div id="faq">
<div id="subpage">
  <div class="left-nav">
      {% include 'sidenav' %}
  </div>

<div class="page-content-field">
<h1>FAQ</h1>
<div class="toggle">
	<div class="toggle-title">
		<h4>What's important about measurements?</h4>
		<span class="opener"><svg class="icon icon-caret-down" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8.01 6">
    	<path fill="#ab5232" fill-rule="evenodd" d="M8,0,4,6,0,0Z"></path>
		</svg>
		</span>
	</div>

	<div class="toggle-inner">
		<h5>Tips for measurement</h5>
		<ul>
			<li>Measure your feet regularly as they can change shape and size over time.</li>
			<li>Different styles use different lasts in construction, therefore sizing may vary with a new style.</li>
			<li>Feet are 3-dimensional, any measuring device can only approximate your true size.</li>
		</ul>
	</div>
</div>

<div class="toggle">
	<div class="toggle-title">
		<h4>How To Find your Muck Boots Size?</h4>
		<span class="opener"><svg class="icon icon-caret-down" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8.01 6">
    	<path fill="#ab5232" fill-rule="evenodd" d="M8,0,4,6,0,0Z"></path>
		</svg>
		</span>
	</div>
	<div class="toggle-inner">
		<h5>Tricks for measurement</h5>
			<ul>
				<li>Measure at the end of the day when your feet are at their largest.</li>
				<li>Tools: ruler, pen, and a piece of paper.</li>
				<li>Follow these steps:
					<ol>
						<li>Place the paper on the ground and stand on it with your weight slightly forward to make sure your foot is flat.</li>
						<li>Draw a line behind your heel and another line in front of your longest toe. It is common to have one foot longer than the other, so use the longer foot to measure.</li>
						<li>Measure the distance between lines in inches or centimeters.</li>
						<li>Find your measurement on the Muck Boot size chart to figure out the best. Round up if your size falls in between.</li>
					</ol>
				</li>
			</ul>
	</div>
</div>

<div class="toggle">
	<div class="toggle-title">
		<h4>What makes these boots so great?</h4>
		<span class="opener"><svg class="icon icon-caret-down" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8.01 6">
    	<path fill="#ab5232" fill-rule="evenodd" d="M8,0,4,6,0,0Z"></path>
		</svg>
		</span>
	</div>
	<div class="toggle-inner">
		<h5>It's all in the design. All MUCK® BOOTS are 100% waterproof keeping feet warm, dry and protected in harsh weather and messy working conditions.</h5>
		<h5>The secret:</h5>
			<ul>
				<li>Our exclusive, self-insulating, waterproof NEOPRENE shell construction. The NEOPRENE bootie material acts as a "neutral medium" between inside and outside temperatures. Naturally lightweight, and very comfortable, the material keeps the foot and lower leg warm and protected in cold and wet conditions.</li>
				<li>Natural rubber overlays act as a protective skin for the upper bootie. The upper has a triple-reinforced toe area and quadruple-reinforced heel area. The outsole is made of high abrasion natural rubber. The rubber in the boots will stay flexible for years.</li>
			</ul>
	</div>
</div>


<div class="toggle">
	<div class="toggle-title">
		<h4>How are the boots sized?</h4>
		<span class="opener"><svg class="icon icon-caret-down" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8.01 6">
    	<path fill="#ab5232" fill-rule="evenodd" d="M8,0,4,6,0,0Z"></path>
		</svg>
		</span>
	</div>
	<div class="toggle-inner">
		<p>Boots and shoes are available in whole sizes only, but will stretch to fit half sizes. There is a 15mm toe allowance built into the sizing. For men who are a 1/2 size, order the next size up. For Women who are a 1/2 size order the next size down.</p>
		<p>Many of our best selling boots are built for men and women- we call them unisex sizing. Women should order 1 size down from the men's size shown. Our size charts will help you find the perfect fit.</p>

		<img src="https://www.muckbootcompany.com/pub/media/wysiwyg/size_charts/muckboot_m2_sizeKidsConversasionChart_US.jpg" width="499px" height="800px" alt="Muck Boot Kids Size Chart" />   <img src="https://www.muckbootcompany.com/pub/media/wysiwyg/size_charts/mens-sizechart-withInches.png" width="431px" height="685px" alt="Muck Boot Mens Size Chart" />   <img src="https://www.muckbootcompany.com/pub/media/wysiwyg/size_charts/womens-sizechart-withInches.png" width="428px" height="550px" alt="Muck Boot Womens Size Chart" />
	</div>
</div>

<div class="toggle">
	<div class="toggle-title">
		<h4>Do the boots fit wide widths?</h4>
		<span class="opener"><svg class="icon icon-caret-down" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8.01 6">
    	<path fill="#ab5232" fill-rule="evenodd" d="M8,0,4,6,0,0Z"></path>
		</svg>
		</span>
	</div>

	<div class="toggle-inner">
		<p>Yes. Our boots are made to standard widths, but the materials will stretch to fit widths up to a EEE. For narrow feet, we suggest wearing a thicker sock or putting in an additional sock liner to take up room.</p>
	</div>
</div>

<div class="toggle">
	<div class="toggle-title">
		<h4>Are the collar and calf stiff?</h4>
		<span class="opener"><svg class="icon icon-caret-down" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8.01 6">
    	<path fill="#ab5232" fill-rule="evenodd" d="M8,0,4,6,0,0Z"></path>
		</svg>
		</span>
	</div>
	<div class="toggle-inner">
		<p>No. The upper calf and topline areas are made of soft, flexible NEOPRENE and will stretch. With the flexible upper, the pant leg can be worn over or inside the boot. The collar material can be turned down to allow hands-free removal and vent humidity in warmer working conditions.</p>
	</div>
</div>

<div class="toggle">
	<div class="toggle-title">
		<h4>Should people wear thick socks?</h4>
		<span class="opener"><svg class="icon icon-caret-down" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8.01 6">
    	<path fill="#ab5232" fill-rule="evenodd" d="M8,0,4,6,0,0Z"></path>
		</svg>
		</span>
	</div>
	<div class="toggle-inner">
			<p>It isn't necessary unless activities are planned for extreme, cold conditions. The NEOPRENE bootie material is rated sub-zero during active use and will effectively withstand freezing temperatures for up to one hour. Medium-weight athletic socks should provide the best fit. The upper will stretch to accommodate thicker socks.</p>
	</div>
</div>

<div class="toggle">
	<div class="toggle-title">
		<h4>What are the benefits of NEOPRENE?</h4>
		<span class="opener"><svg class="icon icon-caret-down" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8.01 6">
    	<path fill="#ab5232" fill-rule="evenodd" d="M8,0,4,6,0,0Z"></path>
		</svg>
		</span>
	</div>
	<div class="toggle-inner">
		<p>Work boots and hiking shoes typically use lofted insulations to resist cold temperatures. They are usually laminated to the whole shoe lining or glued into the toe area of a shoe or boot. It is not a waterproof material.</p>
		<p>The NEOPRENE used in MUCK® BOOTS is both waterproof and self insulating. Our materials exceed the long-term effectiveness of waterproof membrane materials and provide greater insulating properties than all non-specialty temperature-control substrates.</p>
	</div>
</div>


<div class="toggle">
	<div class="toggle-title">
		<h4>Do these boots allow your feet to breathe?</h4>
		<span class="opener"><svg class="icon icon-caret-down" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8.01 6">
    	<path fill="#ab5232" fill-rule="evenodd" d="M8,0,4,6,0,0Z"></path>
		</svg>
		</span>
	</div>
	<div class="toggle-inner">
		<p>One of the most important and revolutionary features of The Original Muck Boot Company® footwear is the structured, Breathable Airmesh lining used in all our products. Airmesh is made up of thousands of tiny vertical fibers that allow air to circulate throughout the interior lining surfaces. Excess humidity and perspiration that might build up in the boot are quickly wicked away. This creates a comfortable environment for your feet that lasts for extended periods of use.</p>
	</div>
</div>

<div class="toggle">
	<div class="toggle-title">
		<h4>How do you care for and clean these products?</h4>
		<span class="opener"><svg class="icon icon-caret-down" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8.01 6">
    	<path fill="#ab5232" fill-rule="evenodd" d="M8,0,4,6,0,0Z"></path>
		</svg>
		</span>
	</div>
	<div class="toggle-inner">
		<p>The rubber shell and nylon upper are very durable and clean up easily with a spray of water or gentle scrubbing with soap and water. The rubber upper can be conditioned with wax polish, Armor All® or liquid detergent. It is not recommended to use conditioners on the outsole area. This may cause it to become slick in wet or icy conditions.</p>
	</div>
</div>

<div class="toggle">
	<div class="toggle-title">
		<h4>Can the rubber be repaired if punctured?</h4>
		<span class="opener"><svg class="icon icon-caret-down" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8.01 6">
    	<path fill="#ab5232" fill-rule="evenodd" d="M8,0,4,6,0,0Z"></path>
		</svg>
		</span>
	</div>
	<div class="toggle-inner">
		<p>Yes. The natural rubber can be repaired with sealant found in local hardware stores. We recommend Aquaseal® brand marine sealant. First, clean the punctured area thoroughly with mineral spirits. Then, apply the sealant over affected area and wipe to a thin film. The sealant should air dry for at least 24 hours.</p>
	</div>
</div>

<div class="toggle">
	<div class="toggle-title">
		<a id="orderstatus" style="display: block; position: relative; top: -100px; visibility: hidden;"></a>
		<h4>How Do I check My Order Status?</h4>
		<span class="opener"><svg class="icon icon-caret-down" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8.01 6">
    	<path fill="#ab5232" fill-rule="evenodd" d="M8,0,4,6,0,0Z"></path>
		</svg>
		</span>
	</div>
	<div class="toggle-inner">
		<p>If you are a registered customer, you can access your order history by logging into your account using the credentials you used to create your account. You will find the “My Account” link located at the top of each page. Once you have accessed your account, you can click on the “Track Order” link for order status. If you are not a registered user, you can contact Customer Service at 855-377-BOOT (2668) by submitting an email via the Contact Us section on our site <a href="/pages/contact-us"> here</a>. Customer Service hours are 7am to 11pm (PST/PDT) Monday through Friday.</p>
	</div>
</div>

<div class="toggle">
	<div class="toggle-title">
		<a id="militarydiscount" style="display: block; position: relative; top: -100px; visibility: hidden;"></a>
		<h4>Do you offer special discounts for active military troops and their families?</h4>
		<span class="opener"><svg class="icon icon-caret-down" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8.01 6">
    	<path fill="#ab5232" fill-rule="evenodd" d="M8,0,4,6,0,0Z"></path>
		</svg>
		</span>
	</div>

	<div class="toggle-inner">
		<p>Muck Boots is proud to help outfit active troops and their families by offering a 25% discount. Discounts are currently available via phone orders only, please call our customer care center at 1-855-377-2668 for complete details.</p>
	</div>
</div>

<div class="toggle">
	<div class="toggle-title">
		<a id="bulkdiscount" style="display: block; position: relative; top: -100px; visibility: hidden;"></a>
		<h4>Do you offer discounts for bulk orders?</h4>
		<span class="opener"><svg class="icon icon-caret-down" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8.01 6">
    	<path fill="#ab5232" fill-rule="evenodd" d="M8,0,4,6,0,0Z"></path>
		</svg>
		</span>
	</div>
	<div class="toggle-inner">
		<p>Need Mucks for the whole crew? The Original Muck Boot Company® is happy to offer bulk discounts on large orders of boots and shoes. Discounts are currently available via phone orders only, please call our customer care center at 1-855-377-2668 for complete details.</p>
	</div>
</div>
<div class="fineprint">
	<p>AQUASEAL® is a registered symbol of the McNett Corporation</p>
	<p>ARMOR ALL® is a registered symbol of Armor All Products Company</p>
</div>
</div>
</div>
</div>

<script>
$( document).ready(function() {    
	if( $(".toggle .toggle-title").hasClass('active') ){
      $(".toggle .toggle-title.active").closest('.toggle').find('.toggle-inner').show();
    }
  
    $(".toggle .toggle-title").click(function(){
      if( $(this).hasClass('active') ){
        $(this).removeClass("active").closest('.toggle').find('.toggle-inner').slideUp(200);
      }
      else{ 
        $(this).addClass("active").closest('.toggle').find('.toggle-inner').slideDown(200);
      }
    });
});
</script>