.twin-promos{
    background-color: #000;
    padding-top: 100px;
    margin: 0;
}
.twin-promos .single-promo .cta a{
    color: #fff;
}
.twin-promos .single-promo h3{
    color: #fff;
}
.twin-promos .single-promo .cta svg * {
    fill: #ffffff;
}
.featured-collection .section-header h2{
    color: #000;
    margin-bottom: 50px;
}
.featured-collection .section-header a span{
    background-color: #e41c39;
    color: #fff;
    padding: 20px 85px;
}
.featured-collection .section-header a svg{
    display: none;
}
.product-collection-carousel .product-info h3{
    font-weight: bolder;
}
.icon-caret_left path {
    fill: #000;
}
.icon-caret_right path {
    fill: #000;
}
.product-collection-carousel .product-info .price{
    color: #e41c39;
}
.box-ratio img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
.columns-carousel .cta{
    border: 2px solid #e41c39;
    padding: 15px 25px;
    max-width: 50%;
    display: block;
    margin: 40px auto 0;
}
.columns-carousel .cta svg{
    display: none;
}
.flex-caption.slide-1536252750894-0 .cta a {
    background-color: transparent !important;
    border: 2px solid #e41c39;
    padding: 15px 25px;
}
.newsletter-wrapper{
    background: #000000;
}
.newsletter-wrapper #button-footer-newsletter-submit svg path {
    fill: #e41c39;
}
#nav-bar-wrapper nav#nav .nav-category-header{
    color: #ffffff;
}
#nav-bar-wrapper #nav-bar-bg{
    background: #060606;
}
#nav-bar-wrapper #nav-user ul#nav-user-list .nav-account .icon-account {
    fill: #ffffff;
}
#nav-bar-wrapper #nav-user ul#nav-user-list .nav-cart .icon-cart {
    fill: #ffffff;
}
.nav-search-icon-wrap .icon-search path{
    fill: #ffffff;
}
.social-wrapper .section-title {
    color: #000000;
}
.newsletter-wrapper .share-info #share-info-line p{
    display: none;
}
#top-bar-bg #bg-1{
    background-color: #ffffff;
}
#double-promo-wrapper .one a{
    color: #000000;
}
